body {
	background-image: url('../images/bg-registro.jpg');
}

.registro .formulario {
	width: 60%;
	background: #d4edf6;
	padding: 20px;
	margin-bottom: 100px;
}

fieldset {
	display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend {
	display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: auto;
}

.form-group label {
	text-align: right;
}

.form-group input {
	width: 100%;
}

.registro .formulario form {
	padding: 20px;
}

.registro .formulario fieldset {
	padding-left: 40px;
	padding-right: 40px;
}

.boton {
	display: block;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}